/*fondo negro*/
body {
	background: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "HandLee", "cursive";
	margin: 0;
}
/*Postal*/
.postcard {
	background: white;
	height: 310px;
	width: 400px;
	padding: 10px;
}
/*encabezado Postal*/
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	height: 50px;
	padding: 0%;
	margin: 0%;
}
/*body Postal*/
.postcard-body {
	display: flex;
	justify-content: center;
}
.body-left p:first-child {
	margin-top: 1%;
	border: 3px;
	text-align: center;
}
.t1 {
	margin: 5px;
	font-family: "Handlee", "cursive";
}

.body-left,
.body-right {
	width: 50%;
	padding: 0%;
}
input {
	border: none;
	border-bottom: 0.5px solid grey;
	width: 95%;
	font-family: "Handlee", "cursive";
	font-weight: bold;
}

/*boton Postcard*/
.postcard-footer {
	text-align: center;
}
button {
	background: gray;
	padding: 5px;
}
